<!DOCTYPE html>
<head>
  <link href="css/main.css" media="all" rel="stylesheet">
  <title>Totally Legit Horoscopes.com -- About the Creator </title>
</head>
<body>
  <div class='header'>
    About the Author
  </div>
  <%= erb :menu %>
  <div class='container'>
    <div class='box'>
      <h2>About the creator of this automated monstosity</h2>
      <p>
        I'm a horrible, horrible air sign. I deserve your pity, not your anger, since as an analytical Gemini I lack the intuitition and imagination to open my mind to the idea of astrology.
      </p>
    </div>
  </div>
</body>