  <div class='container'>
    <h2>About the creator of this automated monstosity</h2>
    <p>
      I'm a horrible, horrible air sign. I deserve your pity, not your anger, since as an analytical Gemini I lack the intuitition and imagination to open my mind to the idea of astrology.
    </p>
  </div>
