<!-- index.erb -->
    <div class='container'>
      <hr>
      <div class='box'>
        <h3>The best in science brings you the best in astrology!</h3>
        <p>
          Computers are a boon to our lives. And over the years, they've become smarter than us. We now trust computers to do all our important work: playing chess, creating windtunnel data, and telling us about our numerous syntax errors. With all this functionality, why then, do people still trust in humans, a species proven unreliable and prone to error, for reports on their most important asset, their future? Don't computers calculate the course of the Mars Rovers? Why then, can't we use them to chart astrological bodies for divination?
        </p>
      </div>
      <div class='box'>
        <img class='side-bar-cat' src="/images/12_houses_of_heaven.jpg">
        <p><a href="/cute_pictures_of_animals">Cute pictures of animals</a></p>
      </div>
      <hr/>
    </div> <!-- container -->

